* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}

body{
  overflow-x: hidden;
}

.section-body{
  display: grid;
  place-items: center;
}
.left-panel {
  color: #fff;
  width: 300px;
  padding-left: 20px;
  height: 100vh; 
  background-image: linear-gradient(30deg , #0557db, #5eaef5);
  border-top-right-radius: 80px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-y: auto; /* İçerik fazla olursa scroll bar eklemek için */
  line-height: 2;
}

.left-section,
.right-section {
  box-shadow: 3px 3px 4px #000;
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  display: block;
  flex: 1;
  padding: 20px;
  font-style: initial;
  margin: 2%;
  border-radius: 8px;
  max-height: 700px; 
  margin-top: 20px !important;
}
.left-section {
  background-image: linear-gradient(
    30deg,
    rgba(94, 174, 245, 0.7),
    rgba(225, 219, 219, 0.7)
  );
}

.right-section {
  background-image: linear-gradient(
    30deg,
    rgba(225, 219, 219, 0.7),
    rgba(94, 174, 245, 0.7)
  );
}
.show-project,
.delete-project,
.edit-project {
  color: #5eaef5;
  float: right;
  margin-right: 8px;
}
.social {
  height: 0;
}

.social i:before {
  width: 14px;
  height: 14px;
  font-size: 14px;
  position: fixed;
  color: #fff;
  background: #0077b5;
  padding: 10px;
  border-radius: 50%;
  top: 5px;
  right: 5px;
}
